<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{% static 'js/onestar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Directing | Template</title>

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/barfiller.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css"> 
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="javascript:void(0);" onclick="home()">Home</a></li>
                            </ul>
                        </nav>
                        <div class="header__menu__right">
                            <a href="#" class="login-btn"><i class="fa fa-user">{{user_name}}</i></a>
                            <p name="user_id" style="display:none">{{user_id}}</p>
                            <p name="movie_id" style="display:none">2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Listing Section Begin -->
    <section class="listing-hero set-bg" data-setbg="{% static 'img/listing/details/listing-hero.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="listing__hero__option">
                        <div class="listing__hero__text">
                            <h2>掬水月在手</h2>
                            <div class="listing__hero__widget">
                                <div class="listing__hero__widget__rating">
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star_alt"></span>
                                </div>
                                <div>8.1</div>
                            </div>
                            <p>导演: 陈传兴</p>
                            <p>主演: 叶嘉莹 / 白先勇 / 席慕蓉 </p>
                            <p>制片国家/地区: 中国大陆</p>
                            <p>类型: 纪录片 / 传记</p>
                            <p>语言: 汉语普通话</p>
                            <p>上映日期: 2020-10-16(中国大陆) / 2020-07-26(上海电影节)</p>
                            <p>片长: 120分钟</p>
                            <li><a href="https://www.imdb.com/title/tt12735320">IMDB链接</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Listing Section End -->

    <!-- Listing Details Section Begin -->
    <section class="listing-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="listing__details__text">
                        <div class="listing__details__about">
                            <h4>剧情简介</h4>
                            <p>《掬水月在手》记录了中国古典诗词大师叶嘉莹（1924-）传奇的人生。她一生历经战乱、政治迫害、海外飘零，晚年回归改革开放的中国，持续创作、传承教学，重系文革中断的古典诗词命脉。影片交织了叶嘉莹个人生命和千年中国古典诗词，表现她在诗词长河中寻求存在的意义轨迹。《杜甫〈秋兴〉八首集说》为叶嘉莹最重要的研究代表作，〈秋兴〉八首描绘中国盛唐兴衰，本片借此隐喻叶先生经历的动荡岁月，并邀请音乐家佐藤聪明以〈秋兴〉八首为本，结合雅乐及现代乐，创作电影音乐，为杜甫诗歌带来新的生命。
                            </p>
                        </div>
                        <div class="listing__details__gallery">
                            <h4>Gallery</h4>
                            <div class="listing__details__gallery__pic">
                                <div class="listing__details__gallery__item">
                                    <img class="listing__details__gallery__item__large" src="{% static 'img/camera/掬水月在手-2.webp' %}"
                                        alt="">
                                    <span><i class="fa fa-camera"></i> Image</span>
                                </div>
                            </div>
                        </div>
                        <section class="categories spad">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-title">
                                            <h2>职员表</h2>
                                        </div>
                                        <div class="categories__item__list">
                                            <div class="categories__item">
                                                <img src="{% static 'img/actor/陈传兴.webp' %}" height="200" width="140" alt="">
                                                <h6>陈传兴 导演</h6>
                                            </div>
                                            <div class="categories__item">
                                                <img src="{% static 'img/actor/叶嘉莹.webp' %}" height="200" width="140" alt="">
                                                <h6>叶嘉莹 饰 自己</h6>
                                            </div>
                                            <div class="categories__item">
                                                <img src="{% static 'img/actor/白先勇.webp' %}" height="200" width="140" alt="">
                                                <h6>白先勇 饰 自己</h6>
                                            </div>
                                            <div class="categories__item">
                                                <img src="{% static 'img/actor/席慕蓉.webp' %}" height="200" width="140" alt="">
                                                <h6>席慕蓉 饰 自己</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="listing__details__rating">
                            <h4>评分</h4>
                            <div class="listing__details__rating__overall">
                                <h2>{{latest_movie_list.moviestar}}</h2>
                                <div class="listing__details__rating__star">
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star_alt"></span>
                                </div>
                                <span id="count">{{latest_movie_list.people}}</span><span>人评价</span>
                            </div>
                            <div class="listing__details__rating__bar">
                                <div class="listing__details__rating__bar__item">
                                    <span>5星</span>
                                    <div id="bar1" class="barfiller">
                                        <span class="fill" data-percentage="28"></span>
                                    </div>
                                    <span class="right">28%</span>
                                </div>
                                <div class="listing__details__rating__bar__item">
                                    <span>4星</span>
                                    <div id="bar2" class="barfiller">
                                        <span class="fill" data-percentage="48"></span>
                                    </div>
                                    <span class="right">48%</span>
                                </div>
                                <div class="listing__details__rating__bar__item">
                                    <span>3星</span>
                                    <div id="bar3" class="barfiller">
                                        <span class="fill" data-percentage="20"></span>
                                    </div>
                                    <span class="right">20%</span>
                                </div>
                                <div class="listing__details__rating__bar__item">
                                    <span>2星</span>
                                    <div id="bar4" class="barfiller">
                                        <span class="fill" data-percentage="2"></span>
                                    </div>
                                    <span class="right">2%</span>
                                </div>
                                <div class="listing__details__rating__bar__item">
                                    <span>1星</span>
                                    <div id="bar5" class="barfiller">
                                        <span class="fill" data-percentage="1"></span>
                                    </div>
                                    <span class="right">1%</span>
                                </div>
                            </div>
                        </div>
                        <div class="listing__details__comment">
                            <h4>评论</h4>
                            <div class="listing__details__comment__item">
                                <div class="listing__details__comment__item__text">
                                    <div class="listing__details__comment__item__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>2020-10-14</span>
                                    <h5>熊阿姨</h5>
                                    <p>太失望了。这么好的人物，有这么多独家资料，结果拍了一个糖水片。叶嘉莹从大陆世家辗转于台湾、加拿大又归国，家庭挫折和留洋漂泊经历都是很厚重的，但电影完全没能跟她的古诗词研究结合起来，没找到一个核心的解释，一直浮在表面。最可惜的是，对叶的诗歌和吟诵分析也很浅很浅。感觉创作者并没有带大家理解叶嘉莹的能力，大量大光圈唯美空镜头把叙事打得稀碎，不停跳，哪个线索都没讲明白。
                                    </p>
                                    <ul>
                                        <li><i class="fa fa-hand-o-up"></i> </li>
                                        <li><i class="fa fa-share-square-o"></i> 回复</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="listing__details__comment__item">
                                <div class="listing__details__comment__item__text">
                                    <div class="listing__details__comment__item__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>2020-07-30</span>
                                    <h5>欢乐分裂</h5>
                                    <p>luxe大屏看太幸福，完全沉浸于美的两小时。我们为什么要读书读诗，那一个个方块字究竟有什么魔力，能助我们渡过去国离乡的困厄、送走生命的黑暗，我们在莽莽漠漠的字海中突然就触到了共振的琴弦，体悟到这宇宙间啊谁人不孤苦寂寞。如亲历迦陵先生一堂诗歌美育课，欣悦如沐久寒春风，愁苦似故国秋雨萧索；自生于乱世，半世流离，终得少小离家老大回，乡愁化作曼声吟哦，在音韵与节奏触及到诗人词家的情丝意境。
                                    </p>
                                    <ul>
                                        <li><i class="fa fa-hand-o-up"></i> </li>
                                        <li><i class="fa fa-share-square-o"></i> 回复</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="listing__details__comment__item">
                                <div class="listing__details__comment__item__text">
                                    <div class="listing__details__comment__item__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>2020-9-24</span>
                                    <h5>竹官碧</h5>
                                    <p>形式充分体现出台湾对于精美的游刃有余，空镜织就了节奏上的诗意，可惜内容上并未向诗歌深处或人的内心走得更远。作为中文系学生更感动于其中求学与师承的部分。片尾主题曲太出戏，但很喜欢正片中的配乐。好评是为支持这样的文学纪录影片，希望古老的文学可以照亮更多年轻的世代。
                                    </p>
                                    <ul>
                                        <li><i class="fa fa-hand-o-up"></i> </li>
                                        <li><i class="fa fa-share-square-o"></i> 回复</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="listing__details__review">
                            <h4>留下你的评论</h4>
                            <form action="#">
                                <textarea placeholder="评论"></textarea>
                                <button type="submit" class="site-btn">提交</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="listing__sidebar">
                        <div class="camera__sidebar__categories">
                            <h5>你的打分</h5>
                            <div class="scoremark_scores">
                            {% if id == 0 %}
                                <span class="star">
                                    <span class="ystar" style="width:0%"></span>
                                    <ul>
                                        <li><a href="javascript:void(0);" onclick="onestar(20)" data-name="很差"
                                                class="one-star">1</a></li>
                                        <li><a href="javascript:void(0)" onclick="onestar(40)" data-name="较差"
                                                class="two-stars">2</a></li>
                                        <li><a href="javascript:void(0)" onclick="onestar(60)" data-name="一般"
                                                class="three-stars">3</a></li>
                                        <li><a href="javascript:void(0)" onclick="onestar(80)" data-name="较好"
                                                class="four-stars">4</a></li>
                                        <li><a href="javascript:void(0)" onclick="onestar(100)" data-name="很好"
                                                class="five-stars">5</a></li>
                                    </ul>
                                </span>
                            {% else%}
                                <div class="listing__item__rating__star">
                                    {% if star == 2 %}
                                    <span class="icon_star"></span>
                                    <span class="icon_star_alt"></span>
                                    <span class="icon_star_alt"></span>
                                    <span class="icon_star_alt"></span>
                                    <span class="icon_star_alt"></span>
                                    {% elif star == 4 %}
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star_alt"></span>
                                    <span class="icon_star_alt"></span>
                                    <span class="icon_star_alt"></span>
                                    {% elif star == 6 %}
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star_alt"></span>
                                    <span class="icon_star_alt"></span>
                                    {% elif star == 8 %}
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star_alt"></span>
                                    {% elif star == 10 %}
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    {% endif %}
                                </div>
                                <h6>{{ star }}</h6>
                            {% endif %}
                                <div style="left: 0px; display: none;" class="tips">az</div>
                            </div>
                        </div>
                        <div class="blog__sidebar__tags">
                            <h5>Popular Tag</h5>
                            <a href="#">叶嘉莹</a>
                            <a href="#">纪录片</a>
                            <a href="#">诗歌</a>
                            <a href="#">传记</a>
                            <a href="#">纪录片</a>
                            <a href="#">中国</a>
                            <a href="#">2020</a>
                            <a href="#">诗歌三部曲</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Listing Details Section End -->


    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>